@import 'tailwindcss';
@plugin '@tailwindcss/typography';

button {
    background-color: var(--color-amber-700);
    color: var(--color-white);
    padding: .5rem 1rem;
    border-radius: 1rem;
    border: 2px solid var(--color-amber-900);
    cursor: pointer;
    transition: .2s all;
}

button:hover {
    background-color: var(--color-amber-800);
}